extends hero.pug
block content
    section(class='section')
        div(class='container')
            table(class='table is-bordered')
                thead
                    tr
                        th City
                        th Conditions
                        th Temperature
                        th Humidity
                        th Minimum Temperature
                        th Maximum Temperature
                        th Wind Speed
                    tr
                        td 
                            p(class='has-text-centered') #{weather.name}
                        td 
                            p(class='has-text-centered') #{weather.weather[0].main}
                        td 
                            p(class='has-text-centered') #{weather.main.temp} °C
                        td 
                            p(class='has-text-centered') #{weather.main.humidity}%
                        td 
                            p(class='has-text-centered') #{weather.main.temp_min} °C
                        td 
                            p(class='has-text-centered') #{weather.main.temp_max} °C
                        td 
                            p(class='has-text-centered') #{weather.wind.speed}km/H
