extends hero.pug
block content
    section(class='section')
        div(class='container')
            table(class='table is-bordered')
                thead
                    tr
                        th City
                        th Conditions
                        th Temperature
                        th Humidity
                        th Minimum Temperature
                        th Maximum Temperature
                        th Wind Speed
                    for city in cities
                        tr
                            td 
                                p(class='has-text-centered') #{city.name}
                            td 
                                p(class='has-text-centered') #{city.weather[0].main}
                            td 
                                p(class='has-text-centered') #{city.main.temp} °C
                            td 
                                p(class='has-text-centered') #{city.main.humidity}%
                            td 
                                p(class='has-text-centered') #{city.main.temp_min} °C
                            td 
                                p(class='has-text-centered') #{city.main.temp_max} °C
                            td 
                                p(class='has-text-centered') #{city.wind.speed}km/H
